<h1>List Payment</h1>
<select [(ngModel)]="selectOption">
    <option value="">Select by</option>
    <option value="username">Name</option>
    <option value="price">Price</option>
    <option value="cardNo">Card Number</option>
</select> &nbsp;

<input type="text" placeholder="Search" [(ngModel)]="searchValue">

<table class="table">
    <thead class="thead-light">
        <tr>
            <th> S.No </th>
            <th> Name </th>
            <th> Price </th>
            <th> Card Number </th>
           
        </tr>
    </thead>
    
    <tbody>
    <tr *ngFor="let arr of paymentArray|filter:selectOption:searchValue ;index as i;even as e;odd as o"
    [ngClass]="{'even':e,'odd':o}">
        <td>{{i+1}} </td>
        <td>{{arr.username|titlecase}}</td>
        <td>{{arr.price|currency}}</td>
        <td>{{arr.cardNo}}</td>
    </tr>
</tbody>
</table>